{{ define "main" }}
<article>
   <style>
      .col-md-12 > article:nth-child(1) > h1:nth-child(1) {
      }
      .lead {
      padding-top:    5px;
      padding-bottom: 5px;
      padding-right: 10px;
      padding-left:  10px;
      }
      body {
      background-size: cover;
      background-repeat: no-repeat;
      margin: 0; 
      padding: 0;
      }
      h5 {
      font-weight: 700;
      }
      h2 {
      text-transform: uppercase;
      ## color: #F9BD2B;
      font-family: Verdana !important;
      }
      .bz-form {width: 684px; margin: 200px auto 0; }
      .bz-container {
      width: 100%;
      # background-color: #fff;
      padding: 30px 40px 20px;
      border-radius: 7px;
      border: 0px solid #74A1B4;
      }
      .bz-btmmargin {
      margin-bottom: 14px !important;
      }
      .bz-topmargin {
      margin-top: 6px !important;
      }
      .bz-left {float: left; width: 49%; padding-right: 2%; min-width: 300px;}
      .bz-right {float: left; width: 49%; min-width: 300px;}
      .bz-clear {clear: both;}
      input[type='text'], input[type='email'] {
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      outline: 0;
      display: block;
      width: 100%;
      padding: 7px;
      border: 0;
      border-bottom: 1px solid #ddd;
      background: transparent;
      margin-bottom: 10px;
      height: 45px;
      }
      input[type='submit'] {
      float: right;
      background-color: #007D7E;
      border: none;
      color: white;
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 700;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.40);
      padding: 12px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      }
      /* input[type='submit']:hover {
      background-color: #000000;
      } */
      @media only screen and (max-width: 600px) {
      .bz-container {padding: 10px;}
      .bz-form {width: 100%;}
      .bz-left, .bz-right { width: 100%; padding: 0 10px;}
      input[type='submit'] {margin-left: 10px;}
      }
   </style>
   <style>
      .stripe_box {
      padding-top:    0.0em !important; 
      padding-right:  2.0em !important; 
      padding-bottom: 0.0em !important; 
      padding-left:   2.2em !important; 
      text-align:      left !important;
      border-color: #eeeeee !important;
      ##border-radius: 0px    !important;
      }
   </style>
   <style>
      .slider {
      position: relative;
      height: 100%;
      width: 100%;
      overflow:hidden;
      }
      /*Окно со слайдами*/
      .slider-content {
      position: relative;     
      width: 100%;
      }
      /*Контейнер для слайдов (передвигаем)*/
      .slider-content-wrapper {
      display: flex;
      height:500px;
      transition: transform 0.5s ease-in-out;
      }
      /*Слайд*/
      .slider-content__item {
      flex: 1 0 100%;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      font-size: 100px;
      color: rgba(0,0,0,0.2);
      display: flex;
      align-items: center;
      justify-content: center;
      }
      .image-1 {background-color: #F9BD2B;}
      .image-2 {background-color: #F9BD2B;}
      .image-3 {background-color: #F9BD2B;}
      .image-4 {background-color: #963484;}
      .image-5 {background-color: #3066BE;}
      .image-6 {background-color: #60AFFF;}
      .slider-controls {
      padding:20px;
      text-align: center;
      }
      .slider-content__controls {
      position:absolute;
      top:0;left:0;
      width: 100%;
      height: 100%;
      z-index:1;
      }
      .prev-arrow, .next-arrow {
      position:absolute;
      top:50%;
      transform: translateY(-50%);
      cursor: pointer;
      color:rgba(0,0,0, 0.3);
      width: 20px;
      transition: all 0.3s;
      }
      .prev-arrow {left: 20px;}
      .next-arrow {right: 20px;}
      .prev-arrow:hover,
      .next-arrow:hover {
      cursor: pointer;
      color:rgba(0,0,0, 0.7);
      }
      .dots {
      position:absolute;
      display: flex;
      left:50%;
      transform: translateX(-50%);
      bottom:10%;
      }
      .dot {
      cursor: pointer;
      width: 8px;
      height: 8px;
      margin-right: 4px;
      background-color: rgba(0,0,0, 0.3);
      /*box-shadow: 0 0 5px 0px rgba(0,0,0,0.9);*/
      border-radius: 50%;
      transition:all 0.3s;
      }
      .dot:last-child {margin-right: 0;}
      .dot:hover {background-color: #fff;}
      .dot--active {background-color: rgba(255,255,255, 0.5);}
      /* Mods */
      .disabled {
      background-color: #DCCFCF;
      color:#B0A8A8;
      cursor: default;
      pointer-events:none;
      }
      .d-none {display: none;}
      .active {opacity: 1;}
      .centered {
      position:relative;
      top:50%;
      left:50%;
      transform:translate(-50%,-50%);  
      }
   </style>
   <style>
      .x {
      transition:transform 0.40s ease;
      transition-delay: 0.60s;
      }
      .x:hover {
      -webkit-transform:scale(1.50); /* or some other value */
      transform:scale(1.50);
      }
   </style>
   <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10">
         <div class="blog-header">
            <h1>{{ .Title }}</h1>
            {{ partial "main/blog-meta.html" . }}
         </div>
      </div>
      <div id="outer">
         <!-- Sharingbutton Facebook -->
         <a aria-label="social" class="resp-sharing-button__link" href="https://facebook.com/sharer/sharer.php?u={{ .Page.Permalink }}" target="_blank" rel="noopener" aria-label="">
            <div class="resp-sharing-button resp-sharing-button--facebook resp-sharing-button--small">
               <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                     <path d="M18.77 7.46H14.5v-1.9c0-.9.6-1.1 1-1.1h3V.5h-4.33C10.24.5 9.5 3.44 9.5 5.32v2.15h-3v4h3v12h5v-12h3.85l.42-4z"/>
                  </svg>
               </div>
            </div>
         </a>
         <!-- Sharingbutton Twitter -->
         <a aria-label="social" class="resp-sharing-button__link" href="https://twitter.com/intent/tweet/?text=Progettiamo%20da%20zero%20apparati%20tecnologici%20per%20promuovere%20uno%20sviluppo%20sostenibile&amp;url={{ .Page.Permalink }}" target="_blank" rel="noopener" aria-label="">
            <div class="resp-sharing-button resp-sharing-button--twitter resp-sharing-button--small">
               <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                     <path d="M23.44 4.83c-.8.37-1.5.38-2.22.02.93-.56.98-.96 1.32-2.02-.88.52-1.86.9-2.9 1.1-.82-.88-2-1.43-3.3-1.43-2.5 0-4.55 2.04-4.55 4.54 0 .36.03.7.1 1.04-3.77-.2-7.12-2-9.36-4.75-.4.67-.6 1.45-.6 2.3 0 1.56.8 2.95 2 3.77-.74-.03-1.44-.23-2.05-.57v.06c0 2.2 1.56 4.03 3.64 4.44-.67.2-1.37.2-2.06.08.58 1.8 2.26 3.12 4.25 3.16C5.78 18.1 3.37 18.74 1 18.46c2 1.3 4.4 2.04 6.97 2.04 8.35 0 12.92-6.92 12.92-12.93 0-.2 0-.4-.02-.6.9-.63 1.96-1.22 2.56-2.14z"/>
                  </svg>
               </div>
            </div>
         </a>
         <!-- Sharingbutton LinkedIn -->
         <a aria-label="social" class="resp-sharing-button__link" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ .Page.Permalink }}&amp;title=Progettiamo%20da%20zero%20apparati%20tecnologici%20per%20promuovere%20uno%20sviluppo%20sostenibile&amp;summary=Progettiamo%20da%20zero%20apparati%20tecnologici%20per%20promuovere%20uno%20sviluppo%20sostenibile&amp;source={{ .Page.Permalink }}" target="_blank" rel="noopener" aria-label="">
            <div class="resp-sharing-button resp-sharing-button--linkedin resp-sharing-button--small">
               <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                     <path d="M6.5 21.5h-5v-13h5v13zM4 6.5C2.5 6.5 1.5 5.3 1.5 4s1-2.4 2.5-2.4c1.6 0 2.5 1 2.6 2.5 0 1.4-1 2.5-2.6 2.5zm11.5 6c-1 0-2 1-2 2v7h-5v-13h5V10s1.6-1.5 4-1.5c3 0 5 2.2 5 6.3v6.7h-5v-7c0-1-1-2-2-2z"/>
                  </svg>
               </div>
            </div>
         </a>
         <!-- Sharingbutton WhatsApp -->
         <a aria-label="social" class="resp-sharing-button__link" href="https://api.whatsapp.com/send?text=Progettiamo%20da%20zero%20apparati%20tecnologici%20per%20promuovere%20uno%20sviluppo%20sostenibile%20{{ .Page.Permalink }}" target="_blank" rel="noopener" aria-label="">
            <div class="resp-sharing-button resp-sharing-button--whatsapp resp-sharing-button--small">
               <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                     <path d="M20.1 3.9C17.9 1.7 15 .5 12 .5 5.8.5.7 5.6.7 11.9c0 2 .5 3.9 1.5 5.6L.6 23.4l6-1.6c1.6.9 3.5 1.3 5.4 1.3 6.3 0 11.4-5.1 11.4-11.4-.1-2.8-1.2-5.7-3.3-7.8zM12 21.4c-1.7 0-3.3-.5-4.8-1.3l-.4-.2-3.5 1 1-3.4L4 17c-1-1.5-1.4-3.2-1.4-5.1 0-5.2 4.2-9.4 9.4-9.4 2.5 0 4.9 1 6.7 2.8 1.8 1.8 2.8 4.2 2.8 6.7-.1 5.2-4.3 9.4-9.5 9.4zm5.1-7.1c-.3-.1-1.7-.9-1.9-1-.3-.1-.5-.1-.7.1-.2.3-.8 1-.9 1.1-.2.2-.3.2-.6.1s-1.2-.5-2.3-1.4c-.9-.8-1.4-1.7-1.6-2-.2-.3 0-.5.1-.6s.3-.3.4-.5c.2-.1.3-.3.4-.5.1-.2 0-.4 0-.5C10 9 9.3 7.6 9 7c-.1-.4-.4-.3-.5-.3h-.6s-.4.1-.7.3c-.3.3-1 1-1 2.4s1 2.8 1.1 3c.1.2 2 3.1 4.9 4.3.7.3 1.2.5 1.6.6.7.2 1.3.2 1.8.1.6-.1 1.7-.7 1.9-1.3.2-.7.2-1.2.2-1.3-.1-.3-.3-.4-.6-.5z"/>
                  </svg>
               </div>
            </div>
         </a>
         <!-- Sharingbutton Telegram -->
         <a aria-label="social" class="resp-sharing-button__link" href="https://telegram.me/share/url?text=Progettiamo%20da%20zero%20apparati%20tecnologici%20per%20promuovere%20uno%20sviluppo%20sostenibile&amp;url={{ .Page.Permalink }}" target="_blank" rel="noopener" aria-label="">
            <div class="resp-sharing-button resp-sharing-button--telegram resp-sharing-button--small">
               <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                     <path d="M.707 8.475C.275 8.64 0 9.508 0 9.508s.284.867.718 1.03l5.09 1.897 1.986 6.38a1.102 1.102 0 0 0 1.75.527l2.96-2.41a.405.405 0 0 1 .494-.013l5.34 3.87a1.1 1.1 0 0 0 1.046.135 1.1 1.1 0 0 0 .682-.803l3.91-18.795A1.102 1.102 0 0 0 22.5.075L.706 8.475z"/>
                  </svg>
               </div>
            </div>
         </a>
         <br>
         <br>
         <br>
         <br>
      </div>
      <div class="col-md-13">
         <div>
            {{- .Scratch.Set "fillImage" "1270x715 Center" -}}
            {{ partial "content/figure.html" . }}
         </div>
      </div>
      <div class="col-md-12 col-lg-9">
         {{ partial "sidebar/docs-toc.html" . }}
         {{ .Content }}
         {{ if .Params.tags -}}
         <div class="mt-4">
            {{ range $index, $tag := .Params.tags -}}
            <a style="border: 1px solid; border-color: #dbdbdb" class="btn btn-light" href="{{ "/tags/" | absURL }}{{ . | urlize }}/" role="button">{{ . }}</a>
            {{ end -}}
         </div>
         {{ end -}}
      </div>
   </div>
</article>

<br>
<br>
<br>

<!-- MailerLite Universal -->
<script>
    (function(w,d,e,u,f,l,n){w[f]=w[f]||function(){(w[f].q=w[f].q||[])
    .push(arguments);},l=d.createElement(e),l.async=1,l.src=u,
    n=d.getElementsByTagName(e)[0],n.parentNode.insertBefore(l,n);})
    (window,document,'script','https://assets.mailerlite.com/js/universal.js','ml');
    ml('account', '217779');
</script>
<!-- End MailerLite Universal -->


<div class="ml-embedded" data-form="hRJLOF"></div>


{{ $related := .Site.RegularPages.Related . | first 3 -}}
{{ with $related -}}
<div class="related-posts">
   <div class="row justify-content-center">
      <div class="col">
         <h2 class="section-title">Articoli collegati</h2>
      </div>
   </div>
   <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-lg-5">
      {{ range . -}}
      <div class="col">
         <div class="card">
            {{- .Scratch.Set "fillImageCard" "1270x620 Center" -}}
            {{ partial "content/card-image.html" . }}
            <div class="card-body">
               <article>
                  <h2 class="h3"><a class="stretched-link text-body" href="{{ .RelPermalink }}">{{ .Params.title }}</a></h2>
                  <p>{{ .Params.excerpt | safeHTML }}</p>
                  {{ partial "main/blog-meta.html" . -}}
               </article>
            </div>
         </div>
      </div>
      {{ end -}}
   </div>
   <!-- shop -->
   <br>
   <div style="border:solid 1px; border-color: #eeeeee;" class="bz-container stripe_box">
      <article>
         <h2 >Inizia con sicurezza il tuo viaggio nel mondo IoT</h2>
         <img class="img-fluid blur-up lazyloaded" src="/prodotti/profondimetro/201.jpg" width="900" alt="">
         <h4>Costruisci il profondimetro in KIT HW103 e avrai a disposizione un <strong>vero</strong> prodotto industriale da sfruttare per il tuo business.<br><br>Scegli la professione del futuro:<br>in offerta a soli €139.00 - Puoi pagare con carta di credito oppure in tre rate con Paypal e Klarna!</h4>
         <p>Il software è <strong>totalmente gratuito</strong> <a href="https://github.com/sebadima/corso-esp32-profondimetro-digitale/blob/main/src/main.ino" target="_blank">(link)</a> e la realizzazione del <a href="/blog/una-centralina-elettronica-per-controllare-il-livello-di-un-serbatoio/">KIT</a> alla portata di una persona con 3 mesi di esperienza nella microelettronica. L'intero progetto è disponibile in scatola di montaggio con tutti i componenti,  compresa la scatola semi-impermeabile in ABS e la minuteria per il montaggio. Permette di controllare mediante ultrasuoni il livello di ogni liquido fino alla profondità di <strong>4 mt</strong>. La sonda a ultrasuoni è in resina impermeabile e resiste ai liquidi leggermente corrosivi. Il diametro della sonda è pari a <strong>2.52 cm</strong>, perfetto per tubi e manicotti da un pollice (standard industriale) con gioco di <strong>1 mm</strong> da sigillare con silicone neutro.</p>
         <h5>I pezzi contrassegnati con l'asterisco sono originali Robotdazero<br> e puoi acquistarli anche singolarmente nel nostro <a href="/docs/ecommerce/">ecommerce</a></h5>
         <div class="alert alert-doks d-flexflex-shrink-1" role="alert" style="font-size: 0.80em;">
            <strong>Lista dei materiali</strong> (<a href="https://en.wikipedia.org/wiki/Bill_of_materials" target="_blank">BOM</a>)<br>
            <br><strong>A.</strong> Modulo display seriale LCD 16X2 carattere blu con retroilluminazione (<strong>pz 1</strong>) - <a href="https://amzn.to/48IckLZ" target="_blank">vedi su Amazon</a>
            <br><strong>B.</strong> Scheda sviluppo ESP-WROOM-32 (<strong>pz 1</strong>) - <a href="https://amzn.to/3O3FMEi" target="_blank">vedi su Amazon</a>
            <br><strong>C.</strong> Sensore ad ultrasuoni impermeabile ANGEEK JSN-SR04T (<strong>pz 1</strong>) - <a href="https://amzn.to/3TPjjyI" target="_blank">vedi su Amazon</a>
            <br><strong>D.</strong> Potenziometro 5 KOhm (<strong>pz 1</strong>) - <a href="https://amzn.to/4aQrBwk" target="_blank">vedi su Amazon</a>
            <br><strong>E.</strong> Alimentatore USB da muro 2 Porte 5V/2.1A (<strong>pz 1</strong>) - <a href="https://amzn.to/3H5Tvqu" target="_blank">vedi su Amazon</a></a>
            <br><strong>F.</strong> <strong>*Robotdazero</strong> - Circuito stampato multifunzione “orange” (<strong>pz 1</strong>)</li> - <a href="/docs/ecommerce/multifunzione/">LINK</a>
            <br><strong>G.</strong> Cavo connessione USB "basic" tipo B per ESP32 (<strong>pz 1</strong>) - <a href="https://amzn.to/48ph8pO" target="_blank">vedi su Amazon</a>
            <br><strong>H.</strong> Mammut bianchi (<strong>pz 2</strong>) - <a href="https://amzn.to/48m5QTu" target="_blank">vedi su Amazon</a>
            <br><strong>I.</strong> Matassa fili per bassa tensione &lt;12V (<strong>mt.2</strong>)
            <br><strong>L.</strong> <strong>*Robotdazero</strong> - Cornice impermeabile "3D printed" in <a href="https://it.wikipedia.org/wiki/Polietilene_tereftalato" target="_blank">PETG</a> per display LCD (<strong>pz 1</strong>) - <a href="/docs/ecommerce/cornice-display/">LINK</a>
            <br><strong>M.</strong> Scatola Derivazione Esterna dim. 30x22x12cm (<strong>pz 1</strong>) - <a href="https://amzn.to/3HfEeTY" target="_blank">vedi su Amazon</a></a>
            <br>
            <br>#pubblicità: I link che rimandano ad Amazon sono link di "affiliazione" che ci permettono <br>di ricavare provvigioni di vendita, senza in alcun modo incidere sul tuo prezzo finale.
         </div>
         <br>
         <a class="btn btn-primary btn-lg px-4 mb-2" href="https://buy.stripe.com/28oeYmbIjbXvfUQbIV" role="button">Acquista</a>
         <br><br>
   </div>
</div>
</article>
<!--
   <br>
   
   <p> 
   <a href="https://www.robotdazero.it/blog/la-guida-definitiva-per-scegliere-il-tuo-arduino/">
   <input style="color:white !important;" class="btn btn-primary btn-lg px-4 mb-2" type="submit" value="Leggi la guida Completa 2023 👉"></a>
   </p>
   </div>
   
   <br>
   <br>
   -->
<!-- shop -->
<style>
   #popup { display: none; position: fixed; top: 10%; left: 10%; width: 80%; height: 80%; background-color: white; z-index: 10; }
   #popup iframe { width: 100%; height: 110%; border: 0; }
   #popupdarkbg { position: fixed; z-index: 5; left: 0; top: 0; width: 100%; height: 100%; overflow: hidden; background-color: rgba(0,0,0,.75); display: none; }
</style>
<div id="popup"><iframe id="popupiframe"></iframe></div>
<div id="popupdarkbg"></div>
<script>
   const slider = (function(){
      
      //const
      const slider = document.getElementById("slider"); // основная обертка
      console.log(slider);
      const sliderContent = document.querySelector(".slider-content"); // обертка для контейнера слайдов и контролов
      console.log(sliderContent);
      const sliderWrapper = document.querySelector(".slider-content-wrapper"); // контейнер для слайдов
      const elements = document.querySelectorAll(".slider-content__item"); // обертка для слайда
      const sliderContentControls = createHTMLElement("div", "slider-content__controls"); // блок контролов внутри sliderContent
      let dotsWrapper = null; // Обертка dots
      let prevButton = null; // Кнопки
      let nextButton = null;
      let autoButton = null;
      let leftArrow = null; // Стрелки
      let rightArrow = null;
      let intervalId = null; //идентификатор setInterval
      
      // data
      const itemsInfo = {
         offset: 0, // смещение контейнера со слайдами относительно начальной точки (первый слайд)
         position: {
            current: 0, // номер текущего слайда
            min: 0, // первый слайд
            max: elements.length - 1 // последний слайд  
         },
         intervalSpeed: 2000, // Скорость смены слайдов в авторежиме
   
         update: function(value) {
            this.position.current = value;
            this.offset = -value;
         },
         reset: function() {
            this.position.current = 0;
            this.offset = 0;
         }  
      };
   
      const controlsInfo = {
         buttonsEnabled: false,
         dotsEnabled: false,
         prevButtonDisabled: true,
         nextButtonDisabled: false
      };
   
      function init(props) {
         // let {buttonsEnabled, dotsEnabled} = controlsInfo;
         let {intervalSpeed, position, offset} = itemsInfo;
         
         // Проверка наличия элементов разметки
         if (slider && sliderContent && sliderWrapper && elements) {
            // Проверка входных параметров
            if (props && props.intervalSpeed) {
               intervalSpeed = props.intervalSpeed;
            }
            if (props && props.currentItem) {
               if ( parseInt(props.currentItem) >= position.min && parseInt(props.currentItem) <= position.max ) {
                  position.current = props.currentItem;
                  offset = - props.currentItem; 
               }
            }
            if (props && props.buttons) {
               controlsInfo.buttonsEnabled = true;
            }
            if (props && props.dots) {
               controlsInfo.dotsEnabled = true;
            }
            
            _updateControlsInfo();
            _createControls(controlsInfo.dotsEnabled, controlsInfo.buttonsEnabled);
            _render();  
         } else {
            console.log("Разметка слайдера задана неверно. Проверьте наличие всех необходимых классов 'slider/slider-content/slider-wrapper/slider-content__item'");
         }
      }
   
      function _updateControlsInfo() {
         const {current, min, max} = itemsInfo.position;
         controlsInfo.prevButtonDisabled = current > min ? false : true;
         controlsInfo.nextButtonDisabled = current < max ? false : true;
      }
   
      function _createControls(dots = false, buttons = false) {
         
         sliderContent.append(sliderContentControls);
   
         createArrows();
         buttons ? createButtons() : null;
         dots ? createDots() : null;
         
         function createArrows() {
            const dValueLeftArrow = "M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z";
            const dValueRightArrow = "M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z";
            const leftArrowSVG = createSVG(dValueLeftArrow);
            const rightArrowSVG = createSVG(dValueRightArrow);
            
            leftArrow = createHTMLElement("div", "prev-arrow");
            leftArrow.append(leftArrowSVG);
            leftArrow.addEventListener("click", () => updateItemsInfo(itemsInfo.position.current - 1))
            
            rightArrow = createHTMLElement("div", "next-arrow");
            rightArrow.append(rightArrowSVG);
            rightArrow.addEventListener("click", () => updateItemsInfo(itemsInfo.position.current + 1))
   
            sliderContentControls.append(leftArrow, rightArrow);
            
            // SVG function
            function createSVG(dValue, color="currentColor") {
               const svg = document.createElementNS("http://www.w3.org/2000/svg", "svg");
               svg.setAttribute("viewBox", "0 0 256 512");
               const path = document.createElementNS("http://www.w3.org/2000/svg", "path");
               path.setAttribute("fill", color);
               path.setAttribute("d", dValue);
               svg.appendChild(path);  
               return svg;
            }
         }
   
         function createDots() {
            dotsWrapper = createHTMLElement("div", "dots");       
            for(let i = 0; i < itemsInfo.position.max + 1; i++) {
               const dot = document.createElement("div");
               dot.className = "dot";
               dot.addEventListener("click", function() {
                  updateItemsInfo(i);
               })
               dotsWrapper.append(dot);      
            }
            sliderContentControls.append(dotsWrapper);   
         }
         
         function createButtons() {
            const controlsWrapper = createHTMLElement("div", "slider-controls");
            prevButton = createHTMLElement("button", "prev-control", "Prev");
            prevButton.addEventListener("click", () => updateItemsInfo(itemsInfo.position.current - 1))
            
            autoButton = createHTMLElement("button", "auto-control", "Auto");
            autoButton.addEventListener("click", () => {
               intervalId = setInterval(function(){
                  if (itemsInfo.position.current < itemsInfo.position.max) {
                     itemsInfo.update(itemsInfo.position.current + 1);
                  } else {
                     itemsInfo.reset();
                  }
                  _slideItem();
               }, itemsInfo.intervalSpeed)
            })
   
            nextButton = createHTMLElement("button", "next-control", "Next");
            nextButton.addEventListener("click", () => updateItemsInfo(itemsInfo.position.current + 1))
   
            controlsWrapper.append(prevButton, autoButton, nextButton);
            slider.append(controlsWrapper);
         }
      }
   
      function setClass(options) {
         if (options) {
            options.forEach(({element, className, disabled}) => {
               if (element) {
                  disabled ? element.classList.add(className) : element.classList.remove(className)   
               } else {
                  console.log("Error: function setClass(): element = ", element);
               }
            })
         }
      }
   
      function updateItemsInfo(value) {
         itemsInfo.update(value);
         _slideItem(true); 
      }
   
      function _render() {
         const {prevButtonDisabled, nextButtonDisabled} = controlsInfo;
         let controlsArray = [
            {element: leftArrow, className: "d-none", disabled: prevButtonDisabled},
            {element: rightArrow, className: "d-none", disabled: nextButtonDisabled}
         ];
         if (controlsInfo.buttonsEnabled) {
            controlsArray = [
               ...controlsArray, 
               {element:prevButton, className: "disabled", disabled: prevButtonDisabled},
               {element:nextButton, className: "disabled", disabled: nextButtonDisabled}
            ];
         }
         
         setClass(controlsArray);
   
         sliderWrapper.style.transform = `translateX(${itemsInfo.offset*100}%)`; 
         
         if (controlsInfo.dotsEnabled) {
            if (document.querySelector(".dot--active")) {
               document.querySelector(".dot--active").classList.remove("dot--active"); 
            }
            dotsWrapper.children[itemsInfo.position.current].classList.add("dot--active");
         }
      }
   
      // Переместить слайд
      function _slideItem(autoMode = false) {
         if (autoMode && intervalId) {
            clearInterval(intervalId);
         }
         _updateControlsInfo();
         _render();
      }
   
      function createHTMLElement(tagName="div", className, innerHTML) {
         const element = document.createElement(tagName);
         className ? element.className = className : null;
         innerHTML ? element.innerHTML = innerHTML : null;
         return element;
      }
   
      return {init};
   }())
   
   slider.init({
      // intervalSpeed: 1000,
      currentItem: 0,
      buttons: false,
      dots: true
   });
</script>
<script>
   document.getElementById("link").onclick = function (e) {
      e.preventDefault();
      document.getElementById("popupdarkbg").style.display = "block";
      document.getElementById("popup").style.display = "block";
      document.getElementById('popupiframe').src = "https://dashboard.mailerlite.com/forms/217779/106846220269389458/share";
      document.getElementById('popupdarkbg').onclick = function () {
         document.getElementById("popup").style.display = "none";
         document.getElementById("popupdarkbg").style.display = "none";
      };
      return false;
   }
   
   window.onkeydown = function (e) {
      if (e.keyCode == 27) {
         document.getElementById("popup").style.display = "none";
         document.getElementById("popupdarkbg").style.display = "none";
         e.preventDefault();
         return;
      }
   }
   
   document.getElementById("scroller").onclick = function (e) {
      e.preventDefault();
      document.getElementById("popupdarkbg").style.display = "block";
      document.getElementById("popup").style.display = "block";
      document.getElementById('popupiframe').src = "https://dashboard.mailerlite.com/forms/217779/106846220269389458/share";
      document.getElementById('popupdarkbg').onclick = function () {
         document.getElementById("popup").style.display = "none";
         document.getElementById("popupdarkbg").style.display = "none";
      };
      return false;
   }
   
   const percentLabel = document.querySelector("#percent");
   const originalTitle = document.title;
   
   window.addEventListener("scroll", () => {
      let scrollTop = window.scrollY;
      let docHeight = document.body.offsetHeight;
      let winHeight = window.innerHeight;
      let scrollPercent = scrollTop / (docHeight - winHeight);
      let scrollPercentRounded = Math.round(scrollPercent * 100);
      <!-- parametro per scroll -->
      if (scrollPercentRounded > 101) {
         const buttonElement = document.getElementById('scroller');
         if (buttonElement) {
            buttonElement.click();
            buttonElement.remove();
         } else {
            console.error('Element with ID "scroller" not found');
         }
         console.log("scroll eccellente");
      }
      console.log(scrollPercentRounded);
   });
</script>
{{ end -}}
{{ end }}
