{{ define "main" }}
<article>
   <style>
      .x {
      transition:transform 0.40s ease;
      transition-delay: 0.60s;
      }
      .x:hover {
      -webkit-transform:scale(1.50); /* or some other value */
      transform:scale(1.50);
      }
   </style>
   <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10">
         <div class="blog-header">
            <h1>{{ .Title }}</h1>
            {{ partial "main/blog-meta.html" . }}
         </div>
      </div>
      <div class="col-md-13">
         <div>
            {{- .Scratch.Set "fillImage" "1270x715 Center" -}}
            {{ partial "content/figure.html" . }}
         </div>
      </div>
      <div class="col-md-12 col-lg-9">
         {{ partial "sidebar/docs-toc.html" . }}
         {{ .Content }}
         {{ if .Params.tags -}}
         <div class="mt-4">
            {{ range $index, $tag := .Params.tags -}}
            <a style="border: 1px solid; border-color: #dbdbdb" class="btn btn-light" href="{{ "/tags/" | absURL }}{{ . | urlize }}/" role="button">{{ . }}</a>
            {{ end -}}
         </div>
         {{ end -}}
      </div>
   </div>
</article>
</br>
</br>
<div id="outer">
   <!-- Sharingbutton Facebook -->
   <a aria-label="social" class="resp-sharing-button__link" href="https://facebook.com/sharer/sharer.php?u={{ .Page.Permalink }}" target="_blank" rel="noopener" aria-label="">
      <div class="resp-sharing-button resp-sharing-button--facebook resp-sharing-button--small">
         <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
               <path d="M18.77 7.46H14.5v-1.9c0-.9.6-1.1 1-1.1h3V.5h-4.33C10.24.5 9.5 3.44 9.5 5.32v2.15h-3v4h3v12h5v-12h3.85l.42-4z"/>
            </svg>
         </div>
      </div>
   </a>
   <!-- Sharingbutton Twitter -->
   <a aria-label="social" class="resp-sharing-button__link" href="https://twitter.com/intent/tweet/?text=Progettiamo%20da%20zero%20apparati%20tecnologici%20per%20promuovere%20uno%20sviluppo%20sostenibile&amp;url={{ .Page.Permalink }}" target="_blank" rel="noopener" aria-label="">
      <div class="resp-sharing-button resp-sharing-button--twitter resp-sharing-button--small">
         <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
               <path d="M23.44 4.83c-.8.37-1.5.38-2.22.02.93-.56.98-.96 1.32-2.02-.88.52-1.86.9-2.9 1.1-.82-.88-2-1.43-3.3-1.43-2.5 0-4.55 2.04-4.55 4.54 0 .36.03.7.1 1.04-3.77-.2-7.12-2-9.36-4.75-.4.67-.6 1.45-.6 2.3 0 1.56.8 2.95 2 3.77-.74-.03-1.44-.23-2.05-.57v.06c0 2.2 1.56 4.03 3.64 4.44-.67.2-1.37.2-2.06.08.58 1.8 2.26 3.12 4.25 3.16C5.78 18.1 3.37 18.74 1 18.46c2 1.3 4.4 2.04 6.97 2.04 8.35 0 12.92-6.92 12.92-12.93 0-.2 0-.4-.02-.6.9-.63 1.96-1.22 2.56-2.14z"/>
            </svg>
         </div>
      </div>
   </a>
   <!-- Sharingbutton LinkedIn -->
   <a aria-label="social" class="resp-sharing-button__link" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ .Page.Permalink }}&amp;title=Progettiamo%20da%20zero%20apparati%20tecnologici%20per%20promuovere%20uno%20sviluppo%20sostenibile&amp;summary=Progettiamo%20da%20zero%20apparati%20tecnologici%20per%20promuovere%20uno%20sviluppo%20sostenibile&amp;source={{ .Page.Permalink }}" target="_blank" rel="noopener" aria-label="">
      <div class="resp-sharing-button resp-sharing-button--linkedin resp-sharing-button--small">
         <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
               <path d="M6.5 21.5h-5v-13h5v13zM4 6.5C2.5 6.5 1.5 5.3 1.5 4s1-2.4 2.5-2.4c1.6 0 2.5 1 2.6 2.5 0 1.4-1 2.5-2.6 2.5zm11.5 6c-1 0-2 1-2 2v7h-5v-13h5V10s1.6-1.5 4-1.5c3 0 5 2.2 5 6.3v6.7h-5v-7c0-1-1-2-2-2z"/>
            </svg>
         </div>
      </div>
   </a>
   <!-- Sharingbutton WhatsApp -->
   <a aria-label="social" class="resp-sharing-button__link" href="https://api.whatsapp.com/send?text=Progettiamo%20da%20zero%20apparati%20tecnologici%20per%20promuovere%20uno%20sviluppo%20sostenibile%20{{ .Page.Permalink }}" target="_blank" rel="noopener" aria-label="">
      <div class="resp-sharing-button resp-sharing-button--whatsapp resp-sharing-button--small">
         <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
               <path d="M20.1 3.9C17.9 1.7 15 .5 12 .5 5.8.5.7 5.6.7 11.9c0 2 .5 3.9 1.5 5.6L.6 23.4l6-1.6c1.6.9 3.5 1.3 5.4 1.3 6.3 0 11.4-5.1 11.4-11.4-.1-2.8-1.2-5.7-3.3-7.8zM12 21.4c-1.7 0-3.3-.5-4.8-1.3l-.4-.2-3.5 1 1-3.4L4 17c-1-1.5-1.4-3.2-1.4-5.1 0-5.2 4.2-9.4 9.4-9.4 2.5 0 4.9 1 6.7 2.8 1.8 1.8 2.8 4.2 2.8 6.7-.1 5.2-4.3 9.4-9.5 9.4zm5.1-7.1c-.3-.1-1.7-.9-1.9-1-.3-.1-.5-.1-.7.1-.2.3-.8 1-.9 1.1-.2.2-.3.2-.6.1s-1.2-.5-2.3-1.4c-.9-.8-1.4-1.7-1.6-2-.2-.3 0-.5.1-.6s.3-.3.4-.5c.2-.1.3-.3.4-.5.1-.2 0-.4 0-.5C10 9 9.3 7.6 9 7c-.1-.4-.4-.3-.5-.3h-.6s-.4.1-.7.3c-.3.3-1 1-1 2.4s1 2.8 1.1 3c.1.2 2 3.1 4.9 4.3.7.3 1.2.5 1.6.6.7.2 1.3.2 1.8.1.6-.1 1.7-.7 1.9-1.3.2-.7.2-1.2.2-1.3-.1-.3-.3-.4-.6-.5z"/>
            </svg>
         </div>
      </div>
   </a>
   <!-- Sharingbutton Telegram -->
   <a aria-label="social" class="resp-sharing-button__link" href="https://telegram.me/share/url?text=Progettiamo%20da%20zero%20apparati%20tecnologici%20per%20promuovere%20uno%20sviluppo%20sostenibile&amp;url={{ .Page.Permalink }}" target="_blank" rel="noopener" aria-label="">
      <div class="resp-sharing-button resp-sharing-button--telegram resp-sharing-button--small">
         <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
               <path d="M.707 8.475C.275 8.64 0 9.508 0 9.508s.284.867.718 1.03l5.09 1.897 1.986 6.38a1.102 1.102 0 0 0 1.75.527l2.96-2.41a.405.405 0 0 1 .494-.013l5.34 3.87a1.1 1.1 0 0 0 1.046.135 1.1 1.1 0 0 0 .682-.803l3.91-18.795A1.102 1.102 0 0 0 22.5.075L.706 8.475z"/>
            </svg>
         </div>
      </div>
   </a>
</div>
<div class="row justify-content-center">
   <div class="col-lg-9 col-xl-8 text-center">
      <br>
      <img width="220" src="/hog/footer.webp" alt="logo">
      <h4>Ciao! Siamo Sergio e Seba.</h4>
      <p class="lead">Vogliamo costruire un'alternativa <strong>indipendente</strong> alle maxi piattaforme che gestiscono i dati dei nostri dispositivi IOT. Se vuoi accompagnarci nel nostro viaggio scoprirai cosa abbiamo imparato strada facendo...<p>
      <div id="main">
         <a  class="btn btn-primary btn-lg px-4 mb-2"  href="" id="link">Segui questo blog</a>
         <a  href="" id="scroller"></a>
         <br>
      </div>
      <!--
         <p class="meta">Powered by Aweber - leggi la loro <a target="_blank" href="https://www.aweber.com/privacy.htm">privacy</a></p>
         <p class="meta">ecommerce by Stripe API <a target="_blank" href="https://stripe.com/docs/api/versioning">rel.2022-11-15</a></p>
       -->



         <br>
         <br>



<!--

<div id="disqus_thread"></div>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://robotdazero-it-1.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

-->



   </div>
</div>
<!-- klaviyo version
   <div class="row justify-content-center">
     <div class="col-lg-9 col-xl-8 text-center">
       <h4>Ricevi la tua dose di ispirazione via email, iscriviti alla newsletter e riceverai un buono sconto del 10% valido su tutti gli articoli del nostro <a href="https://robotdazero.company.site/" rel="noopener">ecommerce</a></h4>
   
         <img width="220" src="/hog/footer.webp" alt="logo">
         <button class="klaviyo_form_trigger btn btn-primary btn-lg px-4 mb-2">Iscriviti adesso</button>
         <script type="text/javascript">
           document.querySelector('.klaviyo_form_trigger').addEventListener('click', function (){
           window._klOnsite = window._klOnsite || []; 
           window._klOnsite.push(['openForm', 'V2nPN4']);
           });
         </script>
   
       <p class="meta">Powered by Klaviyo - leggi la loro <a target="_blank" href="https://www.klaviyo.com/legal/privacy/privacy-notice">privacy</a></p>
     </div>
   </div>
-->

{{ $related := .Site.RegularPages.Related . | first 3 -}}
{{ with $related -}}
<div class="related-posts">
   <div class="row justify-content-center">
      <div class="col">
         <h2 class="section-title">Articoli collegati</h2>
      </div>
   </div>
   <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-lg-5">
      {{ range . -}}
      <div class="col">
         <div class="card">
            {{- .Scratch.Set "fillImageCard" "1270x620 Center" -}}
            {{ partial "content/card-image.html" . }}
            <div class="card-body">
               <article>
                  <h2 class="h3"><a class="stretched-link text-body" href="{{ .RelPermalink }}">{{ .Params.title }}</a></h2>
                  <p>{{ .Params.excerpt | safeHTML }}</p>
                  {{ partial "main/blog-meta.html" . -}}
               </article>
            </div>
         </div>
      </div>
      {{ end -}}
   </div>



<!-- ecwid shop -->
<div style="border-radius: 6px;border: 1px solid #F1F3F5;padding-top: 20px; padding-right: 25px; padding-bottom: 10px; padding-left: 80px;"> 

<h2>Dai una occhiata al nostro Kit per profondimetro digitale!</h2>



<h4>Dettagli del prodotto (hw103)</h4>
<ul>
  <li><strong></strong> modulo display LCD 16X2 carattere seriale blu con retroilluminazione - (1 pz) - <a href="https://amzn.to/48IckLZ" target="_blank">vedi su Amazon</a></li> 
  <li><strong></strong> scheda sviluppo ESP-WROOM-32 - (1 pz) - <a href="https://amzn.to/3tHlTfu" target="_blank">vedi su Amazon</a></li>
  <li><strong></strong>sensore ad ultrasuoni impermeabile ANGEEK JSN-SR04T - (1 pz) - <a href="https://amzn.to/3TPjjyI" target="_blank">vedi su Amazon</a></li>
  <li><strong></strong> potenziometro 5 KOhm - (1 pz)</li>
  <li><strong></strong> alimentatore USB da Muro 2 Porte 5V/2.1A - (1 pz) - <a href="https://amzn.to/3H5Tvqu" target="_blank">vedi su Amazon</a></a></li>
  <li><strong></strong> circuito stampato multifunzione Robotdazero “orange” - (1 pz)</li>
  <li><strong></strong> cavo connessione USB "basic" tipo B per ESP32 - (1 pz) - <a href="https://amzn.to/48ph8pO" target="_blank">vedi su Amazon</a></li>
  <li><strong></strong> mammut bianchi - (1 pz) - <a href="https://amzn.to/48m5QTu" target="_blank">vedi su Amazon</a></li>
  <li><strong></strong> matassa fili per bassa tensione <12V - (mt.2)</li>
</ul>
<div id="my-store-87199052"></div>
<div><script data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?87199052&data_platform=code&data_date=2024-01-06" charset="utf-8"></script>
<script type="text/javascript"> 
window.ec=window.ec||{}; 
window.ec.storefront=window.ec.storefront||{}; 
window.ec.storefront.enable_navigation=false;
window.ec.storefront.product_details_layout="TWO_COLUMNS_SIDEBAR_ON_THE_RIGHT";
window.ec.storefront.product_details_gallery_layout="SINGLE_IMAGE";
window.ec.storefront.product_details_two_columns_with_right_sidebar_show_product_description_on_sidebar=true;
window.ec.storefront.product_details_two_columns_with_left_sidebar_show_product_description_on_sidebar=false;
window.ec.storefront.product_details_show_product_name=true;
window.ec.storefront.product_details_show_breadcrumbs=true;
window.ec.storefront.product_details_show_product_sku=false;
window.ec.storefront.product_details_show_product_price=true;
window.ec.storefront.product_details_show_in_stock_label=true;
window.ec.storefront.product_details_show_number_of_items_in_stock=true;
window.ec.storefront.product_details_show_qty=false;
window.ec.storefront.product_details_show_wholesale_prices=true;
window.ec.storefront.product_details_show_product_options=true;
window.ec.storefront.product_details_show_product_description=true;
window.ec.storefront.product_details_show_delivery_time=undefined;
window.ec.storefront.product_details_show_share_buttons=false;
window.ec.storefront.product_details_position_product_name=100;
window.ec.storefront.product_details_position_breadcrumbs=200;
window.ec.storefront.product_details_position_product_sku=300;
window.ec.storefront.product_details_position_product_price=400;
window.ec.storefront.product_details_position_product_options=undefined;
window.ec.storefront.product_details_position_buy_button=600;
window.ec.storefront.product_details_position_wholesale_prices=700;
window.ec.storefront.product_details_position_product_description=800;
window.ec.storefront.product_details_position_delivery_time=undefined;
window.ec.storefront.product_details_position_share_buttons=900;
window.ec.storefront.product_details_position_subtitle=500;
window.ec.storefront.product_details_show_subtitle=true;
xProductBrowser("categoriesPerRow=3","views=grid(20,3) list(60) table(60)","categoryView=grid","searchView=list","defaultProductId=594459089","id=my-store-87199052");
</script>
</div>
</div>
<!-- ecwid shop -->



</div>

<style>
   #popup { display: none; position: fixed; top: 10%; left: 10%; width: 80%; height: 80%; background-color: white; z-index: 10; }
   #popup iframe { width: 100%; height: 110%; border: 0; }
   #popupdarkbg { position: fixed; z-index: 5; left: 0; top: 0; width: 100%; height: 100%; overflow: hidden; background-color: rgba(0,0,0,.75); display: none; }
</style>
<div id="popup"><iframe id="popupiframe"></iframe></div>
<div id="popupdarkbg"></div>

<script>
document.getElementById("link").onclick = function (e) {
   e.preventDefault();
   document.getElementById("popupdarkbg").style.display = "block";
   document.getElementById("popup").style.display = "block";
   document.getElementById('popupiframe').src = "https://dashboard.mailerlite.com/forms/217779/106846220269389458/share";
   document.getElementById('popupdarkbg').onclick = function () {
      document.getElementById("popup").style.display = "none";
      document.getElementById("popupdarkbg").style.display = "none";
   };
   return false;
}

window.onkeydown = function (e) {
   if (e.keyCode == 27) {
      document.getElementById("popup").style.display = "none";
      document.getElementById("popupdarkbg").style.display = "none";
      e.preventDefault();
      return;
   }
}

document.getElementById("scroller").onclick = function (e) {
   e.preventDefault();
   document.getElementById("popupdarkbg").style.display = "block";
   document.getElementById("popup").style.display = "block";
   document.getElementById('popupiframe').src = "https://dashboard.mailerlite.com/forms/217779/106846220269389458/share";
   document.getElementById('popupdarkbg').onclick = function () {
      document.getElementById("popup").style.display = "none";
      document.getElementById("popupdarkbg").style.display = "none";
   };
   return false;
}

const percentLabel = document.querySelector("#percent");
const originalTitle = document.title;

window.addEventListener("scroll", () => {
   let scrollTop = window.scrollY;
   let docHeight = document.body.offsetHeight;
   let winHeight = window.innerHeight;
   let scrollPercent = scrollTop / (docHeight - winHeight);
   let scrollPercentRounded = Math.round(scrollPercent * 100);
   <!-- parametro per scroll -->
   if (scrollPercentRounded > 101) {
      const buttonElement = document.getElementById('scroller');
      if (buttonElement) {
         buttonElement.click();
         buttonElement.remove();
      } else {
         console.error('Element with ID "scroller" not found');
      }
      console.log("scroll eccellente");
   }
   console.log(scrollPercentRounded);
});
</script>

{{ end -}}
{{ end }}
