{{ define "main" }}



<style>
   .bz-form {width: 684px; margin: 200px auto 0; }
   .bz-container {
   width: 100%;
   background-color: #fff;
   padding: 30px 40px 20px;
   border-radius: 5px;
   border: 1px solid #4F2872;
   }
   .bz-btmmargin {
   margin-bottom: 14px !important;
   }
   .bz-topmargin {
   margin-top: 6px !important;
   }
   .bz-left {float: left; width: 49%; padding-right: 2%; min-width: 300px;}
   .bz-right {float: left; width: 49%; min-width: 300px;}
   .bz-clear {clear: both;}
   input[type='text'], input[type='email'] {
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   outline: 0;
   display: block;
   width: 100%;
   padding: 7px;
   border: 0;
   border-bottom: 1px solid #ddd;
   background: transparent;
   margin-bottom: 10px;
   height: 45px;
   }
   input[type='submit'] {
   float: right;
   }
   @media only screen and (max-width: 600px) {
   .bz-container {padding: 10px;}
   .bz-form {width: 100%;}
   .bz-left, .bz-right { width: 100%; padding: 0 10px;}
   input[type='submit'] {margin-left: 10px;}
   }
</style>



<section class="section container-fluid mt-n3 pb-3">
   <div class="row justify-content-center">
      <div class="col-lg-12 text-center">
         <h1 class="mt-0">{{ .Title }}</h1>
      </div>
      <div class="col-lg-9 col-xl-8 text-center">
         <img width="220" class="figure-img img-fluid lazyload blur-up" src="/122/102.png" alt="">
         <p class="lead">{{ .Params.lead | safeHTML }}</p>
         <a class="btn btn-primary btn-lg px-4 mb-2" href="mailto:info@robotdazero.it" role="button">{{ i18n "send-email" }}</a>
         <br><br>
         <h3 style="" class="meta">Per essere richiamato usa invece il modulo in fondo alla pagina</h3>
         
      </div>
   </div>
</section>
{{ end }}
{{ define "sidebar-prefooter" }}
{{ if eq $.Site.Language.LanguageName "Italiano" }}
<section class="section section-sm">
   <div class="container">
      <div class="row justify-content-center text-center">
         <div class="col-lg-5">
            <h2 class="h4">
            <img width="32" src="/115/discussion-closed-24.svg" alt="">
               Siamo sempre in linea su whatsapp
            </h2>
            

<a class="btn btn-primary" href="https://wa.me/3509185026" role="button">chatta con noi</a>
<br><br>
            <p>Siamo sempre in linea su whatsapp ma se preferisci un sistema più tradizionale puoi usare la nostra email.
               Per essere richiamato usa il modulo sottostante. 
            </p>
         </div>
         <div class="col-lg-5">
            <h2 class="h4">
            <img width="28" src="/115/mail-24.svg" alt="">
               Se devi inviare dei file usa la nostra email
            </h2>

            

<a class="btn btn-primary" href="mailto:info@robotdazero.it" role="button">info@robotdazero.it</a>
<br><br>

            <p> Ottieni assistenza per i problemi relativi all'account cloud, al prodotto o al servizio. Offriamo supporto dal lunedì al venerdì, dalle ore 9:00 alle ore 17:00.  </p>
         </div>
      </div>
   </div>
</section>
<section class="section section-sm">
   <div class="container">
      <div class="row justify-content-center text-center">
         <div class="col-lg-8">
            <h2 class="h4">
               
               

               Ti richiamiamo noi
            </h2>
            <p>Se hai dei dubbi sui termini di utilizzo, sui prezzi o le modalità di pagamento puoi ricevere chiarimenti via telefono. Ricordati di inserire uno o più orari di preferenza.</p>
            <div class="bz-container">
               <form action="https://formspree.io/f/xqkveyej" method="POST">
                  <div class="bz-left">
                     <input type="hidden" name="_language" value="it"/>
                     <input class="bz-btmmargin" type="text" id="nome"     name="nome"     placeholder="Nome"                 required/>
                     <input class="bz-btmmargin" type="text" id="telefono" name="telefono" placeholder="Telefono"             required/>
                     <input class="bz-btmmargin" type="text" id="orario"   name="orario"   placeholder="Orario di preferenza" required/>
                  </div>
                  <div class="bz-clear"></div>
                  <input class="btn btn-primary btn-lg px-4 mb-2" type="submit" value="Invia">
                  <div class="bz-clear"></div>
               </form>
            </div>
            <br>
            <br>
            <br>
         </div>
      </div>
   </div>
</section>
{{ end }}
{{ end }}
{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
   <div class="row justify-content-center text-center">
      <div class="col-lg-9">
         {{- .Content -}}
      </div>
   </div>
</section>
{{ end }}
