{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
   <div class="row justify-content-center">
      <div class="col-lg-12 text-center">
         <h1 class="mt-0">{{ .Title }}</h1>
      </div>
      <div class="col-lg-9 col-xl-8 text-center">
         <img width="220" class="figure-img img-fluid lazyload blur-up" src="/122/102.png" alt="">
         <p class="lead">{{ .Params.lead | safeHTML }}</p>
         <a class="btn btn-primary btn-lg px-4 mb-2" href="mailto:info@robotdazero.it" role="button">{{ i18n "send-email" }}</a>
         <br>
         <br>
         <p style="font-size: 0.90em;">Cliccando sul link di Whatsapp verrai rediretto sulla app già installata sul tuo smartphone.</p>

         <img width="250" class="x figure-img img-fluid lazyload blur-up"  src="/hog/laptop-hog-eu-MEQTSLYZ.png" alt="logo">


      </div>
   </div>
</section>
{{ end }}
{{ define "sidebar-prefooter" }}
{{ if eq $.Site.Language.LanguageName "Italiano" }}
<section class="section section-sm">
   <div class="container">
      <div class="row justify-content-center text-center">
         <div class="col-lg-5">
            <h4 class="h4">
               <img width="28" src="/125/WhatsappLogo.svg" alt="">
               Siamo sempre in linea su whatsapp
            </h4>
            <a class="btn btn-primary" href="https://wa.me/3515133273" role="button">chatta con noi</a>
            <br><br>
            <p>Siamo sempre in linea su whatsapp ma se preferisci un sistema più tradizionale puoi usare la nostra email.
               Per essere richiamato usa il modulo sottostante. 
            </p>
         </div>
         <div class="col-lg-5">
            <h4 class="h4">
               <img width="28" src="/125/mail-24.svg" alt="">
               Se devi inviare dei file usa la nostra email
            </h4>
            <a class="btn btn-primary" href="mailto:info@robotdazero.it" role="button">info@robotdazero.it</a>
            <br><br>
            <p> Ottieni assistenza per i problemi relativi all'account cloud, al prodotto o al servizio. Offriamo supporto dal lunedì al venerdì, dalle ore 9:00 alle ore 17:00.  </p>
         </div>
      </div>
   </div>
</section>
<section class="section section-sm">
   <div class="container">
      <div class="row justify-content-center text-center">
         <div class="col-lg-8">
         </div>
      </div>
   </div>
</section>
{{ end }}
{{ end }}
{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
   <div class="row justify-content-center text-center">
      <div class="col-lg-9">
         {{- .Content -}}
      </div>
   </div>
</section>
{{ end }}