{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
   <div class="row justify-content-center">
      <div class="col-lg-12 text-center">
         <h1 class="mt-0">{{ .Title }}</h1>
      </div>
      <div class="col-lg-9 col-xl-8 text-center">
         <img  width="42" height="42" alt="logo-contatti" class="figure-img img-fluid lazyload blur-up" src="/logo/logo-white.svg">
         <p class="lead">{{ .Params.lead | safeHTML }}</p>
         <br>
         <a class="btn btn-primary btn-lg px-4 mb-2" href="https://wa.me/3515133273" role="button">Chatta su Whatsapp</a>
         <br>
         <img width="0" class="x figure-img img-fluid lazyload blur-up"  src="/124/monitor.svg" alt="logo">
         </p>
      </div>
   </div>
</section>
{{ end }}
{{ define "sidebar-prefooter" }}
{{ if eq $.Site.Language.LanguageName "Italiano" }}
<section class="section section-sm">
   <div class="container">
      <div class="row justify-content-center text-center">
         <div class="col-lg-5">
            <img width="180" src="/124/about.svg" alt="profondimetro digitale con ESP32">
            <h4 class="h4">
               Profondimetro digitale
            </h4>
            <a class="btn btn-primary btn-lg px-4 mb-2" href="/docs/ecommerce/profondimetro/" role="button">Vai al prodotto</a>
            <br><br>
            <p>Prodotto in KIT per misurare la profondità di un serbatoio fino a 4 mt. Utilizza un sensore ad ultrasuoni impermeabile ANGEEK JSN-SR04T semi-impermeabile per prodotti liquidi. Precisione 3 mm.</p>
         </div>
         <div class="col-lg-5">
            <img width="180" src="/124/about.svg" alt="Scheda per montaggi elettronici per ESP32">
            <h4 class="h4">
               Scheda Multifunzione
            </h4>
            <a class="btn btn-primary btn-lg px-4 mb-2" href="/docs/ecommerce/multifunzione" role="button">Vai al prodotto</a>
            <br><br>
            <p>Questa scheda rivoluzionaria rende lo sviluppo di progetti IoT più facile che mai, eliminando la necessità di saldature complicate. Collega fino a 5 sensori in modo rapido e semplice.</p>
         </div>
      </div>
   </div>
</section>
<section class="section section-sm">
   <div class="container">
      <div class="row justify-content-center text-center">
         <div class="col-lg-5">
            <img width="180" src="/124/about.svg" alt="profondimetro digitale con ESP32">
            <h4 class="h4">
               ESP32 Unleashed
            </h4>
            <a class="btn btn-primary btn-lg px-4 mb-2" href="https://robotdazero-site.thinkific.com/courses/corso-esp32-unleashed" role="button">Vai al prodotto</a>
            <br><br>
            <p>Un corso per ESP32: Elettronica, C++ e sensori elettronici. Impara a costruire i tuoi dispositivi IoT con ESP32 e domina le basi dell'elettronica, della programmazione C++ e dei sensori con visualizzazione grafica su server WEB a tecnologia AJAX!</p>
         </div>
         <div class="col-lg-5">
            <img width="180" src="/124/about.svg" alt="profondimetro digitale con ESP32">
            <h4 class="h4">
               Cornice impermeabile 3D
            </h4>
            <a class="btn btn-primary btn-lg px-4 mb-2" href="/docs/ecommerce/cornice-display/" role="button">Vai al prodotto</a>
            <br><br>
            <p>In preparazione.</p>
         </div>
      </div>
   </div>
</section>
<section class="section section-sm">
   <div class="container">
      <div class="row justify-content-center text-center">
         <div class="col-lg-5">
            <img width="180" src="/124/about.svg" alt="Scheda per montaggi elettronici per ESP32">
            <h4 class="h4">
               Spycam con ESP32
            </h4>
            <a class="btn btn-primary btn-lg px-4 mb-2" href="/docs/ecommerce/spycam/" role="button">Vai al prodotto</a>
            <br><br>
            <p>In preparazione.</p>
         </div>
         <div class="col-lg-5">
         </div>
      </div>
   </div>
</section>
<section class="section section-sm">
   <div class="container">
      <div class="row justify-content-center text-center">
         <div class="col-lg-8">
         </div>
      </div>
   </div>
</section>
{{ end }}
{{ end }}
{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
   <div class="row justify-content-center text-center">
      <div class="col-lg-9">
         {{- .Content -}}
      </div>
   </div>
</section>
{{ end }}