{{ define "main" }}



<style>
   .curved-div {
   background: #ff3c00;
   color: #FFF;
   text-align: center;
   }
   .curved-div h1 {
   font-size: 3rem;
   }
   .curved-div p {
   font-size: 1.4rem;
   font-weight: 200;
   }
   .bz-form {width: 684px; margin: 200px auto 0; }
   .bz-container {
   width: 100%;
   background-color: #fff;
   padding: 30px 40px 20px;
   border-radius: 7px;
   }
   .bz-btmmargin {
   margin-bottom: 14px !important;
   }
   .bz-topmargin {
   margin-top: 6px !important;
   }
   .bz-left {float: left; width: 49%; padding-right: 2%; min-width: 300px;}
   .bz-right {float: left; width: 49%; min-width: 300px;}
   .bz-clear {clear: both;}
   input[type='text'], input[type='email'] {
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   outline: 0;
   display: block;
   width: 100%;
   padding: 7px;
   border: 0;
   border-bottom: 1px solid #ddd;
   background: transparent;
   margin-bottom: 10px;
   height: 45px;
   }
   input[type='submit'] {
   float: right;
   }
   @media only screen and (max-width: 600px) {
   .bz-container {padding: 10px;}
   .bz-form {width: 100%;}
   .bz-left, .bz-right { width: 100%; padding: 0 10px;}
   input[type='submit'] {margin-left: 10px;}
   }
</style>



{{ end }}
{{ define "sidebar-prefooter" }}
{{ if eq $.Site.Language.LanguageName "Italiano" }}
{{ end }}
{{ end }}
{{ define "sidebar-footer" }}

<div class="curved-div">
   <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 40">
      <path fill="#FF3C00" fill-opacity="1" d="M0,160L0,288L1440,288L1440,0L0,0L0,0Z" style="--darkreader-inline-fill: #cc3000;" data-darkreader-inline-fill=""></path>
   </svg>
   <section class="section section-sm">
      <div class="container">
         <h1>Grazie <script type="text/javascript">formData.display("name")</script> per esserti iscritto! </h1>
         Grazie per esserti iscritto alla newsletter del nostro blog! Siamo felici di averti con noi.
         Ogni mese ti invieremo un'email con i nostri articoli più recenti, oltre a offerte e promozioni esclusive.
         Speriamo che troverai i nostri contenuti utili e interessanti.
         Se hai domande o suggerimenti, non esitare a contattarci.
         Usa il codice
         <h1 class="btn btn-primary btn-lg px-4 mb-2">MINUS10</h1>
         <h4>per avere uno sconto del 10% sugli acquisti nel nostro <a class="btn btn-primary mb-1" href="/ecommerce/" rel="noopener">ecommerce</a></h4>
      </div>
      <img width="25%" class="x figure-img img-fluid lazyload blur-up" src="/124.svg" alt="">
   </section>
   <svg viewBox="0 0 1440 319">
      <path fill="#4F2872" fill-opacity="0.99" d="M0,32L48,80C96,128,192,224,288,224C384,224,480,128,576,90.7C672,53,768,75,864,96C960,117,1056,139,1152,149.3C1248,160,1344,160,1392,160L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
   </svg>
</div>


<script type="text/javascript">
 var formData = function() {  var query_string = (location.search) ? ((location.search.indexOf('#') != -1) ? location.search.substring(1, location.search.indexOf('#')) : location.search.substring(1)) : '';  
var elements = [];  
if(query_string) {     
    var pairs = query_string.split("&");     
    for(i in pairs) {     
        if (typeof pairs[i] == 'string') {           
            var tmp = pairs[i].split("=");           
            var queryKey = unescape(tmp[0]);           
            queryKey = (queryKey.charAt(0) == 'c') ? queryKey.replace(/\s/g, "_") : queryKey;   
            elements[queryKey] = unescape(tmp[1]);      
             }    
       } 
 }  
return {     
    display: function(key) {         
        if(elements[key]) {           
             document.write(elements[key]);         
         } 
         else {         
               document.write("<!--If desired, replace everything between these quotes with a default in case there is no data in the query string.-->");          
          }     
  }   
} 
}
(); </script>

{{ end }}
