<footer class="footer text-muted">
   <div class="container-{{ if .Site.Params.options.fullWidth }}fluid{{ else }}xxl{{ end }}">
   <div class="row">
      <div class="col-lg-8 order-last order-lg-first">
         <ul class="list-inline">
            <li class="list-inline-item">{{ .Site.Params.footer | safeHTML }}</li>
         </ul>
      </div>
      <div class="col-lg-8 order-first order-lg-last text-lg-end">
         <ul class="list-inline">
            {{ range .Site.Menus.footer -}}
            <li class="list-inline-item"><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
            {{ end -}}
         </ul>
      </div>
   </div>
   <section class="section section-sm">
      <div class="container">
         <div class="row justify-content-center text-center">
            <div class="col-lg-5">
               <h5 class="h5">CHI SIAMO</h5>
               <img width="8%" class="x figure-img img-fluid lazyload blur-up" src="/111/101.svg" alt=""><br>
               <a style="text-decoration:none; font-size: 90%;" href="/privacy/">Privacy policy</a><br>
               <a style="text-decoration:none; font-size: 90%;" href="/cookie-policy/">Cookie policy</a><br>
               <a style="text-decoration:none; font-size: 90%;" href="/contatti/">Contatti</a><br>
            </div>
            <div class="col-lg-5">
               <h5 class="h5">PERCHÉ ROBOTDAZERO</h5>
               <img width="8%" class="x figure-img img-fluid lazyload blur-up" src="/111/102.svg" alt=""><br>
               <a style="text-decoration:none; font-size: 90%;" href="/cookie-policy/">Piattaforma autogestita</a><br>
               <a style="text-decoration:none; font-size: 90%;" href="/docs/ecommerce/multifunzione/">Scheda Sensori</a><br>
               <a style="text-decoration:none; font-size: 90%;" href="/tags/esp32/">Progetti con ESP32</a><br>
               <a style="text-decoration:none; font-size: 90%;" href="https://github.com/sebadima">Programmi free</a><br>
            </div>
            <div class="col-lg-5">
               <h5 class="h5">DOCS</h5>
               <img width="8%" class="x figure-img img-fluid lazyload blur-up" src="/111/103.svg" alt=""><br>
               <a style="text-decoration:none; font-size: 90%;" href="/docs/piattaforma/quick-start/">Come iniziare</a><br>
               <a style="text-decoration:none; font-size: 90%;" href="/blog/esp32-e-la-sua-alimentazione/">Alimentazione ESP32</a><br>
            </div>
         </div>
         <div class="row justify-content-center text-center">
            <div class="col-lg-5">
               <h5 class="h5">CONFRONTI</h5>
               <img width="8%" class="x figure-img img-fluid lazyload blur-up" src="/111/104.svg" alt=""><br>
               <a style="text-decoration:none; font-size: 90%;" href="https://cloud.arduino.cc/">vs Arduino Cloud</a><br>
            </div>
            <div class="col-lg-5">
               <h5 class="h5">ECOMMERCE</h5>
               <img width="8%" class="x figure-img img-fluid lazyload blur-up" src="/111/105.svg" alt=""><br>
               <a style="text-decoration:none; font-size: 90%;" href="/shop/">Il nostro Ecommerce</a><br>
               <a style="text-decoration:none; font-size: 90%;" href="/cookie-policy/">Le policies</a><br>
            </div>
            <div class="col-lg-5">
               <h5 class="h5">LE NOSTRE COMMUNITY</h5>
               <img width="8%" class="x figure-img img-fluid lazyload blur-up" src="/111/106.svg" alt=""><br>
               <a style="text-decoration:none; font-size: 90%;" href="https://mastodon.social/@robotdazero">Mastodon</a><br>
               <a style="text-decoration:none; font-size: 90%;" href="https://github.com/sebadima/www.robotdazero.it-doks/wiki">Github wiki</a><br>
            </div>
         </div>
         <br><br>
         <div class="row justify-content-center text-center">
         </div>
      </div>
   </section>
   <div class="text-center meta">
      <span style="font-size: 90%;">© 2025 Robotdazero.it | P.IVA: IT00378808885 | Email: info@robotdazero.it | Proudly made in the EU! 🇪🇺</span>
   </div>
</footer>