{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-10 col-xl-8">
    <article>
      <h1 class="text-center">{{ i18n "404-title" }}</h1>
      <p class="text-center">{{ i18n "404-text" }}</p>

      <div class="col-lg-9 col-xl-8 text-center">
        <p class="lead">Abbiamo progettato e costruito dispositivi per Internet of Things dall'esordio di Arduino. Inizia il tuo progetto con le idee giuste e fai funzionare il tuo hardware con il nostro software free.</p>
        <a class="btn btn-primary btn-lg px-4 mb-2" href="/docs/prologue/introduction/" role="button">Inizia subito</a>
        <p class="meta">Open-source MIT Licensed. <a aria-label="Github" href="https://gist.github.com/sebadima">GitHub v0.5.0</a></p>
      </div>

    </article>
  </div>
</div>
{{ end }}
