{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
   <div class="row justify-content-center">
      <div class="col-lg-12 text-center">
         <h1 class="mt-0">{{ .Title }}</h1>
      </div>
      <div class="col-lg-9 col-xl-8 text-center">
         <p class="lead">{{ .Params.lead | safeHTML }}</p>
         <a class="btn btn-primary btn-cta rounded-pill btn-lg my-3" href="https://robotdazero-site.thinkific.com/courses/corso-esp32-unleashed">{{ i18n "get-started" }}</a>
         <!--
            <p class="meta">Programmi free - licenza MIT: <a target="_blank" aria-label="GitHub v0.5.0" href="https://github.com/topics/robotdazero-corso-esp32">GitHub v{{ $data := getJSON "/package.json" }}{{ $data.version }}</a></p>
            -->
         <p class="meta">I programmi del corso sono FREE: fai il download da <a style="text-decoration:none;" aria-label="GitHub.com" href="https://github.com/topics/robotdazero-corso-esp32">GitHub.com</a></p>
         <br>
         <a href="https://robotdazero-site.thinkific.com/courses/corso-esp32-unleashed"><img width="256" src="/hero/SBC-NodeMCU-ESP32-02.png" alt="logo del corso per ESP32"></a>
         <!--
            <div class=bg-dots></div>
            -->
         <!--
            <div class="box">
              <div class="wrapper">
                <h2>Siamo "cookie free"!</h2>
                <p>Questo sito utilizza solo i cookie tecnici necessari per il suo corretto funzionamento.</p>
                <p>
                </p>
              </div>
            </div>
            -->
         <br><br>
      </div>
   </div>
</section>
{{ end }}
{{ define "sidebar-prefooter" }}
{{ if eq $.Site.Language.LanguageName "Italiano" }}
<section class="section section-sm">
   <div class="container">
      <div class="row justify-content-center text-center">
         <div class="col-lg-5">
            <h2 class="h4">Il nostro focus sull'IoT</h2>
            <img width="38" src="/111/110.svg" alt="logo"></a>
<br>
            <p style="padding: 8px;">Calvalca l'onda dello sviluppo <a target ="_blank" href="https://www.internet4things.it/iot-library/internet-of-things-gli-ambiti-applicativi-in-italia/">IoT</a>: il settore dell'Internet of Things beneficia di un enorme supporto globale e offre  continue opportunità  di successo. Grazie a tutto questo potresti creare una <a href="https://it.wikipedia.org/wiki/Startup" target="_blank" rel="noopener">startup</a> tecnologica senza investire grossi capitali.</p>
         </div>
         <div class="col-lg-5">
            <h2 class="h4">L'attenzione alle prestazioni</h2>
            <img width="38" src="/111/116.svg" alt="logo"></a>
<br>
            <p style="padding: 8px;">Librerie software veloci e una interazione con il <a target ="_blank" href="https://it.wikipedia.org/wiki/Apprendimento_automatico">ML</a> sono secondo noi la chiave per migliorare le prestazioni dei robot. In questo blog parleremo a lungo di <a target ="_blank" href="https://www.tensorflow.org/">Tensorflow</a> e <a target ="_blank" href="https://pytorch.org/">PyTorch</a> cercando di approfondire vantaggi e svantaggi.</p>
         </div>
         <div class="col-lg-5">
            <h2 class="h4">Software sempre free</h2>
            <img width="38" src="/111/119.svg" alt="logo"></a>
<br>
            <p style="padding: 8px;">Tutti i programmi sono <a href="https://it.wikipedia.org/wiki/Open_source" target="_blank" rel="noopener"> open source</a> senza eccezione e modificabili dall'utente. Solo i servizi cloud sono a pagamento, ma potresti ospitarli sui tuoi computer senza senza pagarci nulla: i sorgenti della <a href="/docs/prologue/introduction/">piattaforma</a> sono infatti aperti e gratuiti!</p>
         </div>
      </div>
      <div class="row justify-content-center text-center">
         <div class="col-lg-5">
            <h2 class="h4">La sicurezza dei dati</h2>
            <img width="38" src="/111/115.svg" alt="logo"></a>
            <p style="padding: 8px;">Le connessioni tra il vostro ESP32 e la nostra piattaforma AI Kaspian sono crittografate secondo i protocolli <a href="https://it.wikipedia.org/wiki/Advanced_Encryption_Standard" target="_blank">AES</a> e <a href="https://it.wikipedia.org/wiki/RSA_(crittografia)" target="_blank">RSA</a>. Il più recente <a href="https://www.robotdazero.it/blog/esp32-i-segreti-del-suo-successo/" target="_blank">ESP32</a> può usare anche il procotollo <a href="https://github.com/Bizyroth/Elliptic-Curve-on-ESP32" target="_blank">ECC</a>, un algoritmo di crittografia <a href="https://it.wikipedia.org/wiki/Crittografia_asimmetrica" target="_blank">asimmetrica</a> a curva ellittica.</p>
         </div>
         <div class="col-lg-5">
            <h2 class="h4">Saldature ridotte al minimo</h2>
            <img width="38" src="/111/102.svg" alt="logo"></a>
            <p style="padding: 8px;">Con la nostra scheda multifunzione per <a href="/blog/esp32-i-segreti-del-suo-successo/">ESP32</a> puoi assemblare i tuoi progetti in modo professionale riducendo al minimo le saldature necessarie. Con la scheda multifunzione puoi collegare fino a 5 sensori di cui due I2C usando i socket e i mammut presaldati. Puoi usare i morsetti integrati per collegare una fonte di corrente esterna come batterie al litio o pannelli solari. Scoprila  nel nostro <a href="/docs/ecommerce/multifunzione/">ecommerce</a>.</p>
            <a class="btn btn-primary btn-cta rounded-pill btn-lg my-3" href="/docs/ecommerce/multifunzione/" role="button">Scopri la nostra scheda pre-saldata</a>
         </div>
         <div class="col-lg-5">
            <h2 class="h4">Hardware Open</h2>
            <img width="38" src="/111/112.svg" alt="logo"></a>
            <p style="padding: 8px;">Forniamo servizi software per chi si occupa di robotica e automazione in genere. Acquisiamo dati da centinaia di sensori e webcam differenti e non vi obbligheremo mai a scegliere una specifica tipologia di hardware.
            <p>
         </div>
      </div>
      <br><br>
      <div class="row justify-content-center text-center">
      </div>
   </div>
</section>
{{ end }}
{{ end }}
{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
   <div class="row justify-content-center text-center">
      <div class="col-lg-9">
         {{- .Content -}}
      </div>
   </div>
   <br>
   <br>
   <br>
   <div class=bg-dots></div>
</section>
{{ end }}
